* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

canvas {
  background-color: black;
}

.controls {
  margin: 1rem;
}

button {
  width: 100px;
  padding: 0.5rem;
  background-color: crimson;
  border-radius: 10px;
  font-size: 1.3rem;
  cursor: pointer;
}
